.catalog {
  width: 1200px;
  margin: 60px auto 160px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog__title {
  display: none;
}

.catalog__container {
  width: 892px;
}

.catalog__link-container {
  display: flex;
  flex-direction: column;
}

.catalog__add-product-link {
  margin: 60px 0 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  
  
  color: #FFFFFF;
  text-decoration: none;
  display: none;
  transition: .3s;
  align-self: flex-end;
}

.catalog__add-product-link:hover {
  opacity: .7;
}

.catalog__add-product-link_visible {
  display: block;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .catalog {
    width: 287px;
    margin: 40px auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .catalog__container {
    width: 100%;
    position: relative;
  }

  .catalog__title {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 6px;
    top: 68px;
    left: 0;
  }

  .catalog__title-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    
    
    color: #FFFFFF;
    margin: 0;
  }

  .catalog__title-icon {
    margin: 2px 0 0;
    width: 12px;
    height: 12px;
    background-image: url(../../images/arrow-right-catalog.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}